:root {
    --main-color: rgb(0, 0, 190);
    --element-color: rgb(38, 91, 235);
    --hover-element-color: rgb(29, 75, 201);
    --clicked-element-color: rgb(23, 60, 161);
    --bar-color: rgb(0, 139, 194);
}

body {
    margin: 0;
}

/*base stuff*/
.background {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

.menu> div {
    background-color: var(--main-color);
    width: 16%;
    height: 90%;
    border: 3px solid black;

}

.menu> div:first-child {
    border-top-right-radius: 6%;
    border-bottom-right-radius: 6%;
}

.menu> div:last-child {
    border-top-left-radius: 6%;
    border-bottom-left-radius: 6%;
}

div.main {
    width: 50%;
    border-radius: 3%;
    display: none;
}

h1 {
    font-size: 3vw;
    margin: 20px;
    text-align: center;
    background-color: var(--element-color);
    border: 2px solid black;
    border-bottom: 4px solid black;
}

h2 {
    font-size: 2vw;
    height: 100%;
    width: 100%;
    text-align: center;
    margin: 0;
    text-decoration: underline 4px;
}

button {
    width: 80%;
    height: 40px;
    margin-left: 10%;

    transition-duration: 0.4s;
    background-color: var(--element-color);
    border: 3px solid black;
}

button:not(:first-child){
    margin-top: 40px;
}

button:hover {
    background-color: var(--hover-element-color);
}

button:active {
    background-color: var(--clicked-element-color);
}

/*right bar stuff*/
.setting {
    margin: 10%;
    width: 80%;
    height: auto;
    border: none;
}

.setting .dropdown {
    display: none;
    width: 100%;
    height: 0;
    border: 2px solid black;
    border-radius: 5%;
}

.setting .dropdown button:first-child {
    margin-top: 20px;
}

.setting .dropdown button:last-child {
    margin-bottom: 20px;
}

.setting:hover .dropdown {
    display: block;
    height: auto;
}

/*resource page stuff*/
#resource {
    display: block;
}

.resourceGen {
    margin: 10px;
    width: auto;
    height: 40px;
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: none;

}

.resourceGen label {
    width: 10vw;
}

.resourceGen progress {
    height: 100%;
    width: 25vw;
    background-color: rgb(0, 0, 0);
    border: 2px solid black;
}

.resourceGen progress::-webkit-progress-bar {
    background-color: rgb(139, 139, 139);
}

.resourceGen progress::-webkit-progress-value {
    background-color: var(--bar-color);
    border-right: 2px solid black;
}

.resourceGen p {
    padding-left: 5px;
    width: 45%;
    font-size: 4vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.resourceGen label {
    font-size: 3vw;
    padding-right: 2vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*crafting page stuff*/
#crafting {
    margin: 0;
    padding: 0;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
}

.craftElement {
    background-color: yellow;
    width: 140px;
    height: 120px;
    margin: 10px;
    transition: 1s;
    border: 2px solid black;
    border-radius: 20px;
    display: block;
    max-height: 120px;
    transition: max-height 1s;
}

.craftElement:hover {
    background-color: yellow;
    width: 140px;
    height: max-content;
    margin: 10px;
    grid-row: span 2;
    max-height: 500px;
    transition: max-height 1s;
    
}

.craftElement h1 {
    font-size: 1.5vw;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: rgb(0,0,0,0);
    border: none;
}

.craftElement img {
    width: 50%;
    padding-left: 25%;
}

.craftElement>div{
    display: flex;
    justify-content: space-around;
}

.craftElement progress {
    width: 70%;
    margin-left: 5%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s linear;
}

.craftElement:hover progress {
    visibility: visible;
    opacity: 1;
}

.craftElement p {
    width: auto;
    margin: 0;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s linear;
}

.craftElement:hover p {
    visibility: visible;
    opacity: 1;
}

.craftElement ul {
    padding-left: 20px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s linear;
}

.craftElement:hover ul {
    opacity: 1;
    visibility: visible;
}